.profile__info {
    margin: 0 auto 0 30px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
}

@media screen and (max-width: 635px) {
    .profile__info {
        margin: 0;
    }
}