.popup__close-button {
  background-color: transparent;
  border: 0;
  background-image: url(../../../images/close-button.svg);
  background-size: cover;
  padding: 0;
    width: 40px;
    height: 40px;
    grid-column: 3;
    align-self: end;
    justify-self: start;
}
.popup__close-button:hover {
    opacity: .6;
    cursor: pointer;
  }

  @media screen and (max-width: 635px) {
    .popup__close-button {
      width: 30px;
      height: 30px;
      }
}