@import url(./__logo/header__logo.css);

.header {
    margin: 45px auto 0;
}

.header:after {
    content: '';
    display: block;
    height: 1px;
    background: #545454;
    opacity: .7;
    margin-top: 40px;
  }

@media screen and (max-width: 635px) {
    .header {
        margin-top: 0;
    }

    .header:after {
        margin-top: 31px;
    }
}